
@define-color theme_fg_color #f0f0f0;

.label {
  padding: 0;
	font-size: 17px;
  color: #ec260c;
  background-color: #405F7E;
	background-image: -gtk-gradient(linear, 0 0, 0 1, color-stop(0, #405F7E), color-stop(0.2, #2c3949), color-stop(0.8, #2c3949), color-stop(1, #405F7E));
	border-radius: 4px;
}




