
/*
.background {
	background-color : @bg_color;
}
*/
GtkWindow {
	color : @fg_color;
	background-color : @bg_color;
}

/*
GtkFrame {
	color : @fg_color;
	background-color : @bg_color;
}
GtkFrame * {
	color : @fg_color;
	background-color : @bg_color;
}

GtkNotebook {
	color : @fg_color;
	background-color : @bg_color;
}
*/
GtkButton#menu {
	color : @bg_color;
	background-color : @bg_color;
	margin : 0;
	padding	: 0;
	border-width : 0;
	background-image : -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
	-image-spacing : 0;
	border-radius : 10%;
	border-image-source: -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
	border-image-slice : 0;
	border-image-width : 0;
	box-shadow : none ;
}


/*
GtkBox {
	background-color : @bg_color;
}

GtkGrid {
	background-color : @bg_color;
}
GtkBox * {
	background-color : @bg_color;
}

GtkGrid * {
	background-color : @bg_color;
}
GtkImage {
	background-color : @bg_color;
	color : @bg_color;
}


GtkLabel {
	background-color : @bg_color;
}

GtkLabel#bridge {
	background-color : @selected_bg_color;
}


GtkFrame * {
	color : @fg_color;
	background-color : @bg_color;
	background-image : -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
}

GtkScrolledWindow * {
	color : @fg_color;
	background-color : @bg_color;
	background-image : -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
}
*/

/*
GtkTreeView {
	color : rgb(255,0,0);
	background-color : @bg_color;
	background-image : -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
}
*/
/*
@define-color view-row #3e3e3e;
@define-color theme_selected_bg_color #016295;
@define-color cell-selected mix(shade(@view-row, 0.8), @theme_selected_bg_color, 0.08);

.cell {
	padding: 2px;
	text-shadow: none;
	color: @theme_fg_color;
}

.cell:hover {
	background-image: none;
	border-color: transparent;
	box-shadow: none;
}

.cell:selected,
.cell:selected:focus {
	border-width: 0px;
	border-style: solid;
	border-color: transparent;

	background-color: transparent;
	background-image: linear-gradient(to bottom,
	alpha(white, 0.045),
	alpha(black, 0.045)
),
linear-gradient(to bottom,
	mix(@view-row, @theme_selected_bg_color, 0.4),
	mix(@view-row, @theme_selected_bg_color, 0.4)
);
	box-shadow: inset 0 -1px alpha(black, 0.18),
	inset 0 1px alpha(white, 0.03),
	inset 0 2px alpha(white, 0.02),
	inset -1px 0 alpha(black, 0.04),
	inset 0 -2px alpha(black, 0.04),
	inset 1px 0 alpha(white, 0.03);
}

.cell:selected:selected,
.cell:selected:selected:focus {
	color: #ededed;
	text-shadow: -1px -1px alpha(black, 0.2);
}

.cell:selected:backdrop,
.cell:selected:hover:backdrop {
	background-color: shade(@cell-selected, 0.8);
	background-image: linear-gradient(to bottom,
	alpha(white, 0.035),
	alpha(black, 0.035)
);
	box-shadow: inset 0 -1px alpha(black, 0.13),
	inset 0 1px alpha(white, 0.04),
	inset -1px 0 alpha(black, 0.04),
	inset 0 -2px alpha(black, 0.04),
	inset 1px 0 alpha(white, 0.02);
}

.cell *:selected:selected:backdrop,
.cell *:selected:selected:hover:backdrop {
	color: shade(#e2e2e2, 0.8);
	text-shadow: none;
}
*/
/*
GtkTreeView.trough row:selected {
	color : rgb(255,255,255);
	background-image : -gtk-gradient (linear,0 0,0 1,color-stop(0,rgb(255,255,255)),color-stop(1,rgb(255,255,255)));
}
GtkScrolledWindow {
	color : @fg_color;
	background-color : @bg_color;
	background-image : -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
}

*/
/*
GtkEntry {
	background-color : @bg_color;
	color : @bg_color;
	background-image : -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
	border-image-source: -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
}
*/
/*
GtkCellView.active {
	background-color : @fg_color;
	color : @bg_color;
	background-image : -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
	border-image-source: -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
}

GtkTreeView {
	background-color : @bg_color;
	color : @fg_color;
	background-image : -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
	border-image-source: -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
}
GtkTreeViewColumn.column-header {
	background-color : @bg_color;
	color : @fg_color;
	background-image : -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
	border-image-source: -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
}
*/
/*
GtkTreeView.view.separator,
GtkTreeView.separator {
	color : @bg_color;
}


*/

/*
column-header .button,
column-header .button:hover,
column-header .button:insensitive {
	background-color : @bg_color;
	background-image : -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color));
}
*/

