
GtkWindow {
	color : @fg_color;
	background-color : @bg_color;

}

GtkButton#menu {
	background-color : @bg_color;
	margin : 0;
	padding	: 0;
	border-width : 0;
	background-image : -gtk-gradient (linear,0 0,0 1,color-stop(0,@bg_color),color-stop(1,@bg_color))
	/*border-color : @bg_color;*/
/*	color : @bg_color;*/
}

GtkImage {
	background-color : @bg_color;
	color : @bg_color;
}

GtkLabel {
	background-color : @bg_color;
}

GtkLabel#bridge {
	background-color : @selected_bg_color;
}
